// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variables */

// Adjust width accordingly (use even #'s)
$logo-width: 200px;
// Reduce px value to increase space between logo and menu text
$logo-padding: $logo-width - 32px;
// Leave alone
$logo-margin: - ($logo-width / 2);


@media only screen and (min-width: 40rem) {

  body {
    text-align: center;
    padding: 0;
    margin-top: auto;
  }

  .main-img {
      width: 100%;
      padding-top: 8%;
  }

  .container {
    border: solid 2px;
    border-color: tomato;
    height: auto;
    margin: 0 auto;
    align: center;
  }

  .logo-wrapper {
    position: relative;

    .logo {
      width: $logo-width;
      height:  92px;
      position: absolute;
      left: 50%;
      right: 50%;
      top: 0px;
      margin-left: $logo-margin;
    }
  }

  // Right part
  .top-bar-right {
    width: 50%;
    padding-left: $logo-padding;

    ul {
      float: left;
    }
  }

  // Left part
  .top-bar-left {
    width:  50%;
    padding-right: $logo-padding;

    ul {
      float: right;
    }
  }
}
